* {
    margin: 0;
    padding: 0;
}

#body {
    background-color: black;
    color: white;
}

.container {
    margin: 200px auto;
    width: 60%;
}

header {
    padding: 10px 1vw;
}

.theme-set {
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    :hover {
        cursor: pointer;
    }
}

.heading {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: gold;
}

.query-box-container {
    margin: 40px auto;
    width: 50%;
    display: flex;
    gap: 1vw;
}

#query-box {
    width: 80vw;
    height: 30px;
    padding: 1vh 2vw;
    font-size: larger;
    border: 2px solid gold;
    border-radius: 25px;
}

.query-box-item {
    
    :hover {
        cursor: pointer;
    }
}
.query-box-item img {
    width: 35px;
}

.chat-display {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }

    .heading {
        font-size: 40px;
    }

    #query-box {
        width: 80vw;
        height: 15px;
        padding: 1vh 2vw;
        font-size: medium;
    }

    .query-box-item img {
        width: 30px;
    }
}