* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 200px auto;
    width: 60%;
}

header {
    padding: 10px 1vw;
}

.theme-set {
    background-color: skyblue;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    :hover {
        cursor: pointer;
    }
}

.heading {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: skyblue;
}

.query-box-container {
    margin: 40px auto;
    width: 50%;
    display: flex;
    gap: 2vw;
}

#query-box {
    width: 80vw;
    height: 30px;
    padding: 1vh 2vw;
    font-size: larger;
    border: 1px solid gray;
    border-radius: 25px;
}

.mic {
    
    :hover {
        cursor: pointer;
    }
}
.mic img, .lens img {
    width: 35px;
}

.lens {

    :hover {
        cursor: pointer;
    }
}